body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* ---------------------------------HEADER--------------------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: none;
}

.header-address {
  display: none;
}

.header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.header-accent {
  color: #2e2f42;
}

.header-btn-icon {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  .header-btn-icon {
    display: none;
  }

  .header-list {
    display: block;
  }

  .header-address {
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-link {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-item-link.current {
    color: #404bbf;
    position: relative;
  }
  .header-item-link.current::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
  .header-item-link:hover,
  .header-item-link:focus {
    color: #404bbf;
  }
  .header-address {
    font-style: normal;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .header-address-item-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-item-link:hover,
  .header-address-item-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header-link {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* ---------------------------------HEADER--------------------------- */

/* ---------------------------------HEADER-MENU--------------------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-radius: 50%;
}
.mobile-menu-btn-icon {
}
.mobile-menu-header-nav {
}
.mobile-menu-header-list {
}
.mobile-menu-header-item {
}
.mobile-menu-header-item-link {
}
.current {
}
.mobile-menu-header-address {
}
.mobile-menu-header-address-list {
}
.mobile-menu-header-address-item {
}
.mobile-menu-header-address-item-link {
}
.mobile-menu-team-social {
}
.mobile-menu-team-social-item {
}
.mobile-menu-team-social-link {
}
.mobile-menu-team-icon {
}

/* ---------------------------------HEADER-MENU--------------------------- */
